body {
    background-color: rgb(19, 14, 87)
 }
.parent > div{
    border: solid;
}
.parent{
    display: grid;
     /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* define how many rows there will be */
    grid-template-rows: 100px 90px 90px 90px;
    grid-template-areas:
    /* name our template section */
    "box1 box2 box3 box4 box5"
    "box6 box7 box8 box9 box10"
    "box11 box12 box13 box14 box15"
    "box16 box17 box18 box19 box20";
    grid-gap: 10px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
}
.box1{
    grid-area: box1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: rgb(14, 62, 151);
    color: aliceblue;
}

.box2{
    grid-area: box2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: rgb(14, 62, 151);
    color: aliceblue;
}
.box3{
    grid-area: box3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: rgb(14, 62, 151);
    color: aliceblue;
}
.box4{
    grid-area: box4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: rgb(14, 62, 151);
    color: aliceblue;
}
.box5{
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: rgb(14, 62, 151);
    color: aliceblue;
}
.box6{
    grid-area: box6;
       
}
#box6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box7{
    grid-area: box7;
}
#box7 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);  
}
.box8{
    grid-area: box8;
}
#box8{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box9{
    grid-area: box9;
}
#box9{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box10{
    grid-area: box10;
}
#box10{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}

.box11{
    grid-area: box11;
}
#box11{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box12{
    grid-area: box12;
}
#box12{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box13{
    grid-area: box13;
}
#box13{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box14{
    grid-area: box14;
}
#box14{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box15{
    grid-area: box15;
}
#box15{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box16{
    grid-area: box16;
}
#box16 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box17{
    grid-area: box17;
}
#box17{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box18{
    grid-area: box18;
}
#box18{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box19{
    grid-area: box19;
}
#box19{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}
.box20{
    grid-area: box20;
}
#box20{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
}

.img{
    margin-left: 400px;
    width: 40%;
    
}
#points{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(14, 62, 151);
    color: rgb(217, 226, 41);
    font-size: 40px
}

